html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 18px;
  color: white;
}

.container {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
}
.nav-bar {
  box-sizing: border-box;
  width: 100%;
  background-color: #4e4e4e;
}

.nav-bar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.nav-right-buttons {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  gap: 50px;
  color: white;
}

.kontakt {
  cursor: not-allowed;
}

.nav-left-buttons {
  font-weight: 700;
}

.section-1 {
  width: 100vw;
  height: calc(100vh - 68px);
}
.background {
  width: 100%;
  height: calc(100vh - 68px);
  background-image: url("tlo_sekcji.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 300;
}

.background-container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
  height: calc(100vh - 68px);
  display: flex;
  align-items: flex-start;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  z-index: 200;
}

.background-shadow {
  background-color: black;
  width: 100%;
  height: calc(100vh - 68px);
  opacity: 30%;
  position: absolute;
  z-index: 10;
}

.background-container h1 {
  font-weight: 700;
  font-size: 36px;
  width: 600px;
  z-index: 20;
}
.background-container p {
  font-weight: 700;
  font-size: 18px;
  z-index: 20;
}

.offer-button {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  border: 3px solid white;
  width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  transition-property: color background-color;
  z-index: 300;
}

.offer-button:hover {
  background-color: white;
  color: black;
}

.about {
  color: #152d41;
  font-weight: 700;
  font-size: 36px;
  background-color: #f1f1f1;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  padding: 50px 0;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: #c4c4c4;
  background-image: url(harry.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.picture-one {
  margin-right: 50px;
}

.picture-two {
  margin-left: 50px;
}
.departement {
  display: flex;
  align-items: center;
}
.departement:nth-of-type(odd) {
  flex-direction: row;
}
.departement:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.person {
  color: #000000;
}
.person h3 {
  font-weight: 700;
  font-size: 18px;
  padding: 25px 0;
}

.person p {
  font-weight: 400;
  font-size: 18px;
  padding: 25px 0;
}

.offer {
  background: #405d78;
  width: 100%;
}

.offer .container {
  padding: 50px 0;
}

.offer-box {
  margin: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 200px 200px;
  row-gap: 50px;
  column-gap: 50px;
  font-weight: 400;
  font-size: 24px;
  color: black;
}

.offer-h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px 0px #00000040;
  transition: transform 0.5s;
}
.box:hover {
  transform: scale(1.05);
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #e07a64;
  border-radius: 50%;
  position: absolute;
  display: block;
  left: -10px;
  top: -10px;
}

.box-new {
  position: relative;
  flex-direction: column;
}
.new-text {
  font-size: 18px;
}

.footer-one {
  width: 100%;
  background-color: #4e4e4e;
  font-weight: 700;
  font-size: 18px;
}

.footer-one .container {
  align-items: center;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.icons i {
  font-size: 30px;
  margin-left: 10px;
}
